.clinic-details {
  background-color: beige;
}

.data-table {
  height: 80vh;
  width: 100%;
}

.login-form {
  margin: 50px 400px 0px 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

@media screen and (max-width:820px) {
  .login-form {
    margin: auto;
    padding: 40px;
  }
}

.register-form {
  margin: 50px 200px 0px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

@media screen and (max-width:820px) {
  .register-form {
    margin: auto;
    padding: 40px;
  }
}

.details {
  margin: 50px 200px 0px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

@media screen and (max-width:820px) {
  .details {
    margin: auto;
    padding: 40px;
  }
}

.review-details {
  margin: 50px 200px 0px 200px;
  padding: 40px;
}

@media screen and (max-width:820px) {
  .review-details {
    margin: auto;
    padding: 40px;
  }
}

.questions-card {
  margin: 50px 200px 0px 200px;
  padding: 0px 40px 40px 40px;
}

@media screen and (max-width:820px) {
  .questions-card {
    margin: auto;
    padding: 0px;
  }
}

.title-background {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 200px;
  position: relative;
  background-image: url(./assets/Images/background-image.png);
}

.bg {
  position: absolute;
  background-color: #25102b;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.align-center {
  width: 100%;
  height: 100%;
  display: table;
}

.title-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: #fff;
  margin: 0;
}

.animate-text {
  animation-name: slideInLeft;
  animation-duration: 3s;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  80% {
    transform: translateX(0px);
  }
}
.login-background {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  background-image: url(./assets/Images/background-image.png);
}